.create {
  .row {
    width: 100vw;
    height: 100vh;
    // display: grid;
    justify-content: center;
    align-items: center;

    .createinfo {
      padding: 100px;
      text-align: left;
      height: 500px;
      width: 600px;
      h2 {
        font-size: 24pt;
        font-style: oblique;
        font-weight: bolder;
        letter-spacing: 1pt;
      }
      .boxes {
        width: 600px;
        .chunk {
          width: 600px;
          display: flex;
          gap: 20px;
          margin: 20px;
          label {
            letter-spacing: 1pt;
            font-size: 12pt;
            font-weight: bolder;
          }
          input {
            width: 150px;
            border-radius: 10px;
            border-style: solid;
            border-color: #395c6b;
            height: 20px;
            padding: 5px;
            font-size: 12pt;
            display: block;
          }

          // justify-content:space-evenly;
        }

        #create {
          height: 40px;
          width: 100px;
          border-radius: 15px;
          border: none;
          font-size: 16pt;
          font-weight: bolder;
          letter-spacing: 1pt;
          cursor: pointer;
        }
      }
    }
  }
}
