.home {
  .hero {
    .heroimg {
          background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    width: 100%;
    height: 100vh;
    }
    .welcome {
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 45%;
      left: 40%;
      // translate: (50%, 50%);
      h1 {
        color: #ecf0f1;
        font-size: 36pt;
        font-weight: bolder;
        font-style: oblique;
        letter-spacing: 1pt;
      }
    }
  }
}

@media screen and (max-width: 960px) {}
