.home {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;

    .welcome {
      h1 {
        color: #ecf0f1;
        font-size: 36pt;
        font-weight: bolder;
        font-style: oblique;
        letter-spacing: 1pt;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .home {
    height: 100vh;
    width: 100vw;
  }
}
